.edit-dept-container {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  min-height: 100vh;
  background-color: var(--secondColor);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 767px) {
  .edit-dept-container {
    min-height: calc(100vh - 74px);
  }
}
.edit-dept-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #444;
}

.edit-dept-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-dept-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #444;
}

.edit-dept-form input,
.edit-dept-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-top: 5px;
}
.edit-dept-form textarea {
  min-height: 100px;
  max-height: 300px;
}
.edit-dept-form button {
  padding: 12px;
  background-color: var(--thirdColor);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.edit-dept-form button:hover {
  background-color: #cc3600;
}
