.SignsignIn,
.Signsignup {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

a {
  font-size: 1rem;
}
.Signfields label {
  margin-bottom: 0 !important;
}
.Signpassword-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input.SignShow {
  padding-right: 40px;
}

.Signicon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
  font-size: 18px;
  top: 23px;
}

.Signloading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* .Signblur-content {
  filter: blur(2px);
  pointer-events: none;
} */
.Signview {
  background-color: var(--secondColor);
  padding: 30px;
  overflow-y: hidden;
}
.Signview .Signcontent {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
.Signview .Signimage {
  width: 100%;
  overflow: hidden;
}
.Signview .Signimage img {
  width: 100%;
  max-width: 900px;
  max-height: 600px;
}
.Signfields {
  padding: 30px;
  padding-top: 10px;
  min-width: 40%;
  margin-block: auto;
}
.Signfields h1 {
  margin-bottom: 30px;
  white-space: nowrap;
}
.Signfields h2 {
  white-space: nowrap;
}
.Signfields p {
  font-size: 15px;
}
.Signfields div:first-child {
  margin-bottom: 20px;
  font-size: 20px;
  color: #525252;
}
.Sign-checed:hover {
  cursor: pointer;
}
.Sign-checed input:hover {
  cursor: pointer;
}
.Sign-checed label:hover {
  cursor: pointer;
}
.Signgoogle-btn {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #000;
}
/* .Signgoogle-icon {
  font-size: 50px;
  fill: #4285f4;
}

.Signgoogle-btn:hover .Signgoogle-icon {
  fill: #a9254f;
} */

.Signgoogle-btn:hover {
  background: #f2f2f2;
}

.Signgoogle-icon {
  width: 18px;
  height: 18px;
}
.Signdivider {
  text-align: center;
  color: var(--colorParagraph);
  margin: 20px 0;
  position: relative;
}
.Signform {
  color: var(--colorParagraph);
}
.Signform input {
  display: block;
  margin-bottom: 15px;
  padding: var(--section-padding);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 100%;
}
.Signform input::placeholder {
  color: #aaa;
}
.Signform input:focus {
  outline: none;
  border: 1px solid var(--thirdColor);
}

.SignforgetPassword {
  display: flex;
  justify-content: space-between;
}
.SignforgetPassword div {
  margin-bottom: 0 !important;
  display: flex;
  gap: 5px;
}
.SignforgetPassword input {
  display: block;
  width: fit-content;
  color: var(--thirdColor);
}
/* form input:checked {
  accent-color: var(--thirdColor); 
} */
.Signform .SignforgetPassword input[type="checkbox"],
.Signform .SignforgetPassword label {
  accent-color: var(--thirdColor);
  margin-bottom: 0;
  color: var(--thirdColor);
  font-size: 1rem;
}
.SignsubmitForm {
  display: flex;
  gap: 15px;
}
.SignfirstLast {
  margin-block: 15px;
  display: flex;
  gap: 15px;
}
.SignfirstLast > div {
  width: 100%;
  font-size: 16px !important;
  margin-bottom: 0 !important;
}
.SignfirstLast > div:last-of-type label {
  display: block;
  text-align: left !important;
}

.SignfirstLast > div input {
  margin-bottom: 0;
}
.Signform .SignsubmitForm input {
  cursor: pointer;
}
.SignsubmitForm input {
  color: white;
  background-color: var(--thirdColor);
}
.Signfields div:last-child {
  text-align: center;
  color: var(--colorParagraph);
}
/* meduim */
@media screen and (max-width: 996px) {
  a {
    white-space: nowrap;
  }
}
/* phone */
@media screen and (max-width: 767px) {
  .Signview {
    display: none;
  }
  .Signfields {
    width: 100%;
    margin: 0;
  }
  .Signfields h1,
  .Signfields h2 {
    width: 100%;
    font-size: 25px;
    white-space: nowrap;
  }
}
